<div>
    <h2 id="page-heading">
        <span jhiTranslate="platemillApp.shipping.home.title">Shippings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipping" [routerLink]="['/shipping/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="platemillApp.shipping.home.createLabel">
            Create new Shipping
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'platemillApp.shipping.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="shippings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="platemillApp.shipping.shippingDate">Shipping Date</span></th>
            <th><span jhiTranslate="platemillApp.shipping.shift">Shift</span></th>
            <th><span jhiTranslate="platemillApp.shipping.noOfWagons">No Of Wagons</span></th>
            <th><span jhiTranslate="platemillApp.shipping.noOfTrailers">No Of Trailers</span></th>
            <th><span jhiTranslate="platemillApp.shipping.shippedTonnage">Shipped Tonnage</span></th>
            <th><span jhiTranslate="platemillApp.shipping.manager">Manager</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shipping of shippings ;trackBy: trackId">
                <td><a [routerLink]="['/shipping', shipping.id, 'view' ]">{{shipping.id}}</a></td>
                <td>{{shipping.shippingDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'platemillApp.Shift.' + shipping.shift}}">{{shipping.shift}}</td>
                <td>{{shipping.noOfWagons}}</td>
                <td>{{shipping.noOfTrailers}}</td>
                <td>{{shipping.shippedTonnage}}</td>
                <td>
                    <div *ngIf="shipping.manager">
                        <a [routerLink]="['../shift-manager', shipping.manager?.id, 'view' ]" >{{shipping.manager?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shipping', shipping.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shipping', shipping.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shipping', { outlets: { popup: shipping.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
