<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="normalising">
            <h2><span jhiTranslate="platemillApp.normalising.detail.title">Normalising</span> {{normalising.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="platemillApp.normalising.normalisingDate">Normalising Date</span></dt>
                <dd>
                    <span>{{normalising.normalisingDate}}</span>
                </dd>
                <dt><span jhiTranslate="platemillApp.normalising.shift">Shift</span></dt>
                <dd>
                    <span jhiTranslate="{{'platemillApp.Shift.' + normalising.shift}}">{{normalising.shift}}</span>
                </dd>
                <dt><span jhiTranslate="platemillApp.normalising.noOfPlates">No Of Plates</span></dt>
                <dd>
                    <span>{{normalising.noOfPlates}}</span>
                </dd>
                <dt><span jhiTranslate="platemillApp.normalising.normalisedTonnage">Normalised Tonnage</span></dt>
                <dd>
                    <span>{{normalising.normalisedTonnage}}</span>
                </dd>
                <dt><span jhiTranslate="platemillApp.normalising.manager">Manager</span></dt>
                <dd>
                    <div *ngIf="normalising.manager">
                        <a [routerLink]="['/shift-manager', normalising.manager?.id, 'view']">{{normalising.manager?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/normalising', normalising.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
